In [15]:
import pandas as pd
import numpy as np
import glob

In [20]:
file_list = glob.glob("transit_data/*")

In [61]:
dict_example = {"key_name": 0, "key_name2" : "value_but_as_a_string"}

In [76]:
"asdf/new_key".split("/")[-1]

'new_key'

In [77]:
df_dict = {path.split("/")[-1]:pd.read_csv(path) for path in file_list}

### Two Types of Jupyter Cells
1. Markdown ("m")
2. Code ("y")

### Two Types of Data
1. Function
2. Instance

In [78]:
df_dict.keys()

dict_keys(['stops.csv', 'routes.csv', 'calendar.csv', 'fare_attributes.csv', 'fare_rules.csv', 'agency.csv', 'shapes.csv', 'trips.csv', 'calendar_dates.csv', 'stop_times.csv', 'feed_info.csv'])

In [48]:
["a", "b", "c"].

pandas.core.indexes.base.Index

In [59]:
df_list = [df.replace(-999, np.NaN) for df in df_list]

In [60]:
df_list[2]

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,LLR_2021-06-12-28_Saturday,0,0,0,0,0,1,0,20210612,20210828
1,LLR_2021-06-12-28_Sunday,0,0,0,0,0,0,1,20210612,20210828
2,LLR_2021-06-12-28_Weekday,1,1,1,1,1,0,0,20210612,20210828
3,LLR_2021-08-29-01_Saturday,0,0,0,0,0,1,0,20210829,20211001
4,LLR_2021-08-29-01_Sunday,0,0,0,0,0,0,1,20210829,20211001
5,LLR_2021-08-29-01_Weekday,1,1,1,1,1,0,0,20210829,20211001
6,LLR_2021-10-02-08_Saturday,0,0,0,0,0,1,0,20211002,20220318
7,LLR_2021-10-02-08_Sunday,0,0,0,0,0,0,1,20211002,20220318
8,LLR_2021-10-02-08_Weekday,1,1,1,1,1,0,0,20211002,20220318
9,RW_SNDR,0,0,0,0,0,0,0,20210919,20220318
10,SP_SNDR_SEA_G,0,0,0,0,0,0,0,20210919,20220318
11,TLINE_2021-09-02_Saturday,0,0,0,0,0,1,0,20210902,20220318
12,TLINE_2021-09-02_Sunday,0,0,0,0,0,0,1,20210902,20220318
13,TLINE_2021-09-02_Weekday,1,1,1,1,1,0,0,20210902,20220318
14,WD_SNDR_20210220_Weekday,1,1,1,1,1,0,0,20210220,20210918
15,WD_SNDR_20210919_Weekday,1,1,1,1,1,0,0,20210919,20220318