In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("data/City_of_Seattle_Wage_Data.csv")

In [29]:
def some_funct(df, colname):
    unique_vals = df[colname].unique()
    return(list(unique_vals))

In [20]:
department_names = list(department_names)

In [26]:
[dep for dep in department_names if "police" in dep.lower()]

['Police Department',
 'Community Police Commission',
 'Police Relief & Pension Fund']

In [18]:
[i**2 for i in i_list if i % 2 == 0]

[0, 4, 16, 36, 64]

In [ ]:
class

In [6]:
df.loc[df["Last Name"] == "Durkan"]

,Department,Last Name,First Name,Job Title,Hourly Rate
5472,Information Technology,Durkan,Timothy,"StratAdvsr1,Exempt",45.878
6467,Mayor's Office,Durkan,Jenny,Mayor,106.490